---
---
@import 'reset';

@import 'util/vars';
@import 'util/globals';
@import 'util/mixins';

@import 'partials/detail';
@import 'partials/about';
@import 'partials/typography';

html {font-size: 62.5%;}

body {
  background-color: #fdfdff;
  color: $steel-gray;
  max-height: 100%;
}

#about {
  background-color: white;
  overflow: hidden;
}

.box {
  position: absolute;
  z-index: -999;
  width: 500px;
  height: 500px;
  filter: blur(180px);
  top: 100%;
  left: 100%;
  margin: -250px 0 0 -250px;
  background: $main-pink;

  border-radius: 50%;
  -webkit-backface-visibility:hidden;
  pointer-events: none;
}

h1 {margin-bottom: 10px;}

h2 {margin-top: 10px;}

h3 {width: 100%;}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-top: 3.5rem;
  width: 4rem;
  height: 4rem;
  transition: transform .5s;

  &:hover {
    transform: scale(1.1);
    transition: transform .5s;
  }
}

.li-about {
  list-style-type: none;

  &::before {
    content: '- ';
  }
}

.content {
  margin: 0 auto;
  max-width: 80%;
}


.main-nav {
  margin-top: 3rem;
  display: flex;
  z-index: 4;
  position: relative;

  & li {
    color: white;
    margin-top: 1rem;
    margin-right: 3rem;
    padding: .1rem;
    font-size: 1.6rem;
    font-weight: 600;

    @media (min-width: 0) and (max-width: 666px) {
    margin-top: 3rem;
    }
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 1rem 0;
}

.portfolio-blocks {
  margin-top: 7rem;
}

.portfolio-block {
  height: 22.6rem;
  margin-bottom: 4rem;
  margin-right: 4rem;

  @media (min-width: 320px) and (max-width: 666px) {margin-right: 0;}

  img {
    object-fit: cover;
    transition: all .5s;

    &:hover {
      transition: all .5s;
      filter: brightness(40%);
    }
  }

  & header {
    display: flex;
    justify-content: center;
  }
}

.social-icons {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;

  @include mq(iphone-5) {justify-content: center;}
  @include mq(iphone-6) {justify-content: center;}
  @include mq(iphone-6-landscape) {justify-content: center;}
  @include mq(ipad) {justify-content: center;}

  i {
    color: $steel-gray;
    padding: 5px;

    @media (max-width: 330px) {
      padding-left: 1rem;
    }

    @media (min-width: 331px) and (max-width: 958px) {
      padding-left: 1.2rem;
    }
  }
}

.social-info {
  margin-bottom: 20px;
  margin-right: 120px;
}

a:link,
a:active,
a:visited {color: $steel-gray};

a:hover {
  width: 100%;
  color: $main-pink;
}

.a-main-nav:link,
.a-main-nav:active,
.a-main-nav:visited,
.a-main-nav:hover {color: $steel-gray;}



.footer {
  background: $steel-gray;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  margin-top: 10rem;
  overflow: hidden;

  a:link,
  a:visited,
  a:active {color: white;}
}

.footer-section {
  max-width: 30rem;
}

.social-section {
  display: flex;
  flex-flow: row nowrap;
}

.socials {
  margin-right: 3rem;

  & p {
    padding-top: .8rem;
  }
}

.foot-txt {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.footer-title {
  margin-bottom: 2rem;
}

.main-quote {
  font-size: 4rem;
  max-width: 82rem;
  line-height: 1.2;
  margin: 5rem 0;
}

.post-title {
  text-align: left;
}

.text-container {
  position: relative;
  overflow: hidden;
}

.r-words {
  display: inline;
}
.r-words span{
  font-weight: 400;
  font-size: 1.4rem;
  padding-left: .5rem;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  width: 150%;
  /* aniamtion duration needs to be total time of all delays*/
  -webkit-animation: rotate-words 12s linear infinite 0s;
}
/* set delay on animation to only display one at a time */
.r-words span:nth-child(2) {
  -webkit-animation-delay: 3s;
}
.r-words span:nth-child(3) {
  -webkit-animation-delay: 6s;
}

/* Needs all vendor prefixes
* Test done on Chrome
*/
@-webkit-keyframes rotate-words {
  0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
  10% { opacity: 0.3; width: 0px; }
  20% { opacity: 1; width: 100%; }
  33% { opacity: 0.3; width: 100%; }
  40% { opacity: 0.0; width: 100%; }
  100% { opacity: 0; }
}

.index-quote {
  padding: 5rem 0;
}
