<footer class='footer'>
  <div class='footer-contact footer-section'>
    <h1 class='footer-title'>Contact</h1>
    <p class='mail'>bijlsmalotte@gmail.com</p>
    <p>A question, suggestion or a brilliant idea you want to share with me? I'd love to hear from you. </p>
  </div>
  <div class='footer-social footer-section'>
    <h1 class='footer-title'>Find me here</h1>
    <div class='social-section'>
      <div class='socials'>
        {% if site.site_theme.behance %}
          <a href="https://be.net/{{ site.site_theme.behance }}" target="_blank">
            <p>Behance</p>
          </a>
        {% endif %}
        {% if site.site_theme.dribble %}
          <a href="https://dribbble.com/{{ site.site_theme.dribble }}" target="_blank">
            <p>Dribbble</p>
          </a>
        {% endif %}
        {% if site.site_theme.instagram %}
          <a href="https://instagram.com/{{ site.site_theme.instagram }}" target="_blank">
            <p>Instagram</p>
          </a>
        {% endif %}
      </div>
      <div class='socials'>
        {% if site.site_theme.vimeo %}
          <a href="https://vimeo.com/{{ site.site_theme.vimeo }}" target="_blank">
            <p>Vimeo</p>
          </a>
        {% endif %}
        {% if site.site_theme.twitter %}
          <a href="https://twitter.com/{{ site.site_theme.twitter }}" target="_blank">
            <p>Twitter</p>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class='footer-copyright footer-section'>
    <h1 class='footer-title'>Copyright</h1>
    <p>Made with blood, sweat, tears and a lot of ♡ by Lotte Bijlsma <br/>⚐ august 2017</p>
  </div>



    <!-- <div class='social-icons content'>
    {% if site.site_theme.behance %}
      <a href="https://be.net/{{ site.site_theme.behance }}" target="_blank">
        <i class='fa fa-behance'></i>
      </a>
    {% endif %}
    {% if site.site_theme.dribble %}
      <a href="https://dribbble.com/{{ site.site_theme.dribble }}" target="_blank">
        <i class='fa fa-dribbble'></i>
      </a>
    {% endif %}
    {% if site.site_theme.instagram %}
      <a href="https://instagram.com/{{ site.site_theme.instagram }}" target="_blank">
        <i class='fa fa-instagram'></i>
      </a>
    {% endif %}
    {% if site.site_theme.vimeo %}
      <a href="https://vimeo.com/{{ site.site_theme.vimeo }}" target="_blank">
        <i class='fa fa-vimeo-square'></i>
      </a>
    {% endif %}
    {% if site.site_theme.twitter %}
      <a href="https://twitter.com/{{ site.site_theme.twitter }}" target="_blank">
        <i class='fa fa-twitter'></i>
      </a>
    {% endif %}
    </div> -->
</footer>
