<footer class="footer">
  <div class="footer-section">
    <h1 class="foot-txt">Made by Lotte Bijlsma with great enthusiasm and some chai lattes</h1>
  </div>
  <div class="footer-section">
    {% if site.site_theme.behance %}
      <a href="https://be.net/{{ site.site_theme.behance }}" target="_blank">
        Behance -
      </a>
    {% endif %}
    {% if site.site_theme.dribble %}
      <a href="https://dribbble.com/{{ site.site_theme.dribble }}" target="_blank">
        Dribbble -
      </a>
    {% endif %}
    {% if site.site_theme.vimeo %}
      <a href="https://vimeo.com/{{ site.site_theme.vimeo }}" target="_blank">
        Vimeo -
      </a>
    {% endif %}
    <a href="https://github.com/lottebijlsma" target="_blank">
      Github
    </a>
  </div>
</footer>
