.about {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;

  @media (min-width: 0) and (max-width: 736px) {
    display: flex;
    flex-flow: column wrap;
    margin-left: 10px;
  }
}

.faves {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: $main-red;
}

.fave {
  background: white;
  border-left: .8rem solid $main-red;
  padding: 3rem;
  margin-right: 5rem;
  margin-top: 5rem;
}

.fave-love{
  width: 25rem;
}

.fave-current{
  width: 35rem;
}

.fave-study{
  width: 27rem;
}

.about-img {
  width: 100vw;
  height: 100%;
  align-self:center;
  margin-bottom: 7rem;
}

.about-txt {
  font-size: 8rem;
  line-height: 2.3rem;
  max-width: 60vw;
  margin: 0 auto;
  color: $main-red;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.about-tekst-section::after {
  content: url(../../img/divider.svg);
  display: flex;
  justify-content: center;
  margin: 7rem 0 7rem 0;
}

.about-tekst-section::before {
  content: url(../../img/head.gif);
  margin: 8rem 0 10rem 0;
  display: flex;
  justify-content: center;
}

.about-intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.li-about {
  padding-top: .3rem;
}

.fave-title {
  color: $main-red;
}


.about-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}
