.portfolio-detail {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 5rem;
}

.project-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 0 1rem;

  @media (max-width: 1137px) {
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
}

.project-info-block {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.4rem;
  padding-left: 8rem;

  @media (max-width: 1137px) {
    padding-left: 0;
    padding-right: 3rem;
  }
}

.project-info-section {
  display: flex;

  & a:link,
  a:active,
  a:visited { text-decoration: underline; }

  @media (max-width: 630px) {
    flex-flow: column wrap;
  }
}

.project-info-block-title {
  margin-right: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #403f3e;
}

.project-detail-title { font-size: 3rem; }

.project-text {
  @media (max-width: 768px) {
    max-width: 80vw;
  }

  p {
    padding-bottom: 1.5rem;
    line-height: 2.3rem;
    text-align: justify;
    margin-top: .5rem;
  }

  div { max-width: 55vw; }

  img { max-width: 55vw; }

  h2 {
    text-decoration: underline;
    margin-bottom: 1rem;
  }

  li { list-style-type: circle; }

  a:link,
  a:visited,
  a:active { text-decoration: underline; }
}

.project-header {
  display: flex;
  align-self: center;
}

.project-image {
  margin-top: 1rem;
  width: 80vw;
  height: 100%;

  @media (max-width: 600px) {
    width: 90vw;
    margin-top: 1rem;
  }
}

.detail-quote {
  border-left: .5rem solid $cool-green;
  padding-left: 3rem;
  margin: 5rem 10rem;
  line-height: 2.3rem;
}

.member {
  list-style-type: none;

  &::after { content: '\00a0 \00a0 \00a0'; }
}

.members {
  display: flex;
}

.vimeo {
  width: 100%;
  height: 50vh;

  @media (min-width: 320px) and (max-width: 800px) {
    height: 60vw;
  }
}

.portfolio-quote {
  @media (max-width: 768px) {
    display: none;
  }

  font-size: 3.5rem;
  max-width: 68rem;
  line-height: 1.3;
  margin: 6.5rem 0 10rem;
}
