body {
  font-family: 'maison_neuebook', sans-serif;
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 400;
}

h1 {
  font-family: 'maison_neuebook', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
}

h2 {
  font-family: 'maison_neuebook', sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}

h3 {
  font-family: 'maison_neuebook', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  white-space: nowrap;
}

h4 {
  color: $steel-gray;
  font-family: 'maison_neuebook', sans-serif;
  font-size: 1.3rem;
}

strong {
  font-family: 'maison_neuebold', sans-serif;
  font-weight: 800;
}

a:link,
a:hover,
a:active,
a:visited { text-decoration: none; }

.a-main-nav:link,
.a-main-nav:hover,
.a-main-nav:active,
.a-main-nav:visited { text-transform: none; }

.secondary-nav li { font-size: 1.1rem; }

.secondary-nav li,
.main-nav li { text-transform: uppercase; }

.post-title { text-align: center; }
