@font-face {
  font-family: TofinoReg;
  font-style:normal;
  src:url(tofinoreg.woff2) format('woff2'),
      url(tofinoreg.woff) format('woff')
}

@font-face {
  font-family: TofinoMed;
  font-style:normal;
  src:url(tofinomed.woff2) format('woff2'),
      url(tofinomed.woff) format('woff')
}

@font-face {
  font-family: TofinoBold;
  font-style:normal;
  src:url(tofinobold.woff2) format('woff2'),
      url(tofinobold.woff) format('woff')
}
