---
layout: default
---
<div class='portfolio-detail'>
  <div class='project-header'>
    <img class='project-image' src='../../../../../{{ page.headerimage }}'/>
  </div>

  <section class='social-info'>
    <table class='project-info'>
      <tr>
        <th class="project-info-title">Online</th>
        <th class="project-info-title">Date</th>
        <th class="project-info-title">Category</th>
      </tr>
      <tr>
        <td class="project-info-data">
          {% if page.link %}
            <a href="{{ page.link }}">Watch me</a>
          {% endif %}
        </td>
        <td class="project-info-data">
          {% if page.datum %}
            <p>{{page.datum}}</p>
          {% endif %}
        </td>
        <td class="project-info-data">
          {% if page.category %}
            <p>{{page.category}}</p>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          {% if page.team %}
            <h3>Team</h3>
            {% for member in page.team%}
              <li>{{member}}</li>
            {% endfor %}
          {% endif %}
        </td>
      </tr>
    </table>
  </section>


  <section class='project-text'>
    <header><h1 class='main-quote'>"{{ page.quote }}"</h1></header>
    <div class='content'>{{content}}</div>
  </section>
</div>
<!-- This is currently broken due to an unresolved path -->
<!-- <section class='project-images'>
  <header><h2>IMAGES / STILLS / SCREENSHOTS</h2></header>
  {% for image in page.images %}
    <img src="{{image}}" alt={{image}} />
  {% endfor %}
</section> -->
